<div class="container-modal">
  <div class="modal-content">
    <div>
      <h1 style="text-align: center;">PRODUCTOS QUÍMICOS DE LIMPIEZA</h1>
      <p style="text-align: center;">Nuestra área en productos de limpieza nos permite brindar la solución a los problemas de limpieza que se
        encuentran en diversas áreas en el ramo institucional e industrial, dando como resultado fabricación de
        productos acorde al giro.</p>
    </div>
    <div class="container-content">
      <div>
        <h2>En el giro institucional</h2>
        <ul>
          <li>Limpiadores multiusos</li>
          <li>Limpiadores biodegradables</li>
          <li>Ambientadores</li>
          <li>Ambientadores en alcohol</li>
          <li>Desinfectantes</li>
          <li>Sanitizantes</li>
          <li>Antibacteriales</li>
          <li>Jabones líquidos</li>
          <li>Shampoo de diversas funciones</li>
          <li>Entre otros</li>
        </ul>
      </div>
      <div>
        <h2>En el giro industrial</h2>
        <ul>
          <li>Removedores de sarro y cochambre</li>
          <li>Desincrustantes de óxido</li>
          <li>Desincrustante de concreto</li>
          <li>Desengrasante de aceites</li>
          <li>Desengrasante de motores</li>
          <li>Desengrasantes industriales</li>
          <li>Cremas limpiadoras de trabajo pesado</li>
          <li>Solventes</li>
        </ul>
      </div>
    </div>
    <button mat-button (click)="onCloseClick()">Close</button>
  </div>
</div>
