<div class="container-modal">
  <div class="modal-content">
    <div>
      <div class="header-modal">
        <button class="button-close" (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h1 style="text-align: center;">{{ 'modales.titleProductosQuimicos' | translate }}</h1>
      <!-- <p style="text-align: initial;">Nuestra área en productos de limpieza nos permite brindar la solución a los
        problemas de limpieza que se
        encuentran en diversas áreas en el ramo institucional e industrial, dando como resultado fabricación de
        productos acorde al giro.</p> -->
    </div>
    <div class="container-content">
      <div>
        <h2>{{ 'modales.subtitleProductosQuimicos' | translate }}</h2>
        <ul>
          <li>{{ 'modales.listItems2.limpiadoresMulti' | translate }}</li>
          <li>{{ 'modales.listItems2.limpiadoresBio' | translate }}</li>
          <li>{{ 'modales.listItems2.ambientadores' | translate }}</li>
          <li>{{ 'modales.listItems2.ambientadoresAlcohol' | translate }}</li>
          <li>{{ 'modales.listItems2.desinfectantes' | translate }}</li>
          <li>{{ 'modales.listItems2.sanitizantes' | translate }}</li>
          <li>{{ 'modales.listItems2.antibacteriales' | translate }}</li>
          <li>{{ 'modales.listItems2.jabones' | translate }}</li>
          <li>{{ 'modales.listItems2.shampoo' | translate }}</li>
          <li>{{ 'modales.listItems2.entreOtros' | translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'modales.subtitleProductosQuimicos2' | translate }}</h2>
        <ul>
          <li>{{ 'modales.listItems3.removedores' | translate }}</li>
          <li>{{ 'modales.listItems3.desincrustanteOxido' | translate }}</li>
          <li>{{ 'modales.listItems3.desincrustanteConcreto' | translate }}</li>
          <li>{{ 'modales.listItems3.desengrasanteAceite' | translate }}</li>
          <li>{{ 'modales.listItems3.desengrasanteMotores' | translate }}</li>
          <li>{{ 'modales.listItems3.desengrasanteIndustriales' | translate }}</li>
          <li>{{ 'modales.listItems3.cremasLimpiadoras' | translate }}</li>
          <li>{{ 'modales.listItems3.solventes' | translate }}</li>
        </ul>
      </div>
    </div>
    <!-- <div class="button-close">
      <button mat-button (click)="onCloseClick()">Cerrar
        <mat-icon>close</mat-icon>
      </button>
    </div> -->
  </div>
</div>
