<footer>
  <div class="footer-content">
    <div class="nav-footer">
      <div>
        <img src="assets/logos/logo-bn.png" alt="logo">
      </div>
      <nav>
        <ul>
          <li><span>Inicio</span></li>
          <li><span>Nosotros</span></li>
          <li><span>Productos</span></li>
          <li><span>Contactanos</span></li>
        </ul>
      </nav>
    </div>

    <div class="contact">
      <div class="iframe">
        <h3>Visitanos</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.504296266555!2d-97.8581531!3d22.2588791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d7f9ec4c2c73bb%3A0xfad1bf0e2ff6d142!2sZapotal%20115%2C%20Colinas%20de%20Universidad%2C%2089139%20Tampico%2C%20Tamps.!5e0!3m2!1sen!2smx!4v1654809572044!5m2!1sen!2smx"
          width="20%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>

      <div class="location">
        <h3>Oficinas</h3>
        <p>Zapotal no 115, col. Colonias de Universidad, CP. 89139</p>
      </div>
      <div class="location">
        <h3>Almacén</h3>
        <p>Naranjo entre libramiento Altamira y Pino no. 109, col. Alameda Altamira Altamira Tamp. CP. 89602</p>
      </div>

      <div class="email">
        <mat-icon>mail</mat-icon>
        <a href="mailto:ventas@rodcerquimica.com">ventas@rodcerquimica.com</a>
      </div>
    </div>

    <hr>
    <div class="copyright">
      <p>© Copyright Rodcer Quimica. All Rights Reserved</p>
    </div>
  </div>
</footer>
