.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 999;

  .modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
  }
}

::ng-deep .mdc-dialog__container {
  display: unset;
}

.container-materia {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
