<div class="container-modal">
  <div class="modal-content">
    <div class="container-materia">
      <h1 style="text-align: center;">MATERIA PRIMA PARA LA INDUSTRIA</h1>
      <p>Agrupamos una extensa variedad de productos químicos genéricos, químicos inorgánicos y químicos de especialidad
        contamos con un sin fin de productos químicos par a la producción de productos industriales, comerciales y de
        uso prácticamente en todo el proceso industrial, una parte de ellos son:</p>
      <div class="content-ul">
        <div>
          <ul>
            <li>Sosa liquida al 50%</li>
            <li>Nonil fenol 10 moles</li>
            <li>Hidróxido de sodio</li>
            <li>Aceite mineral</li>
            <li>Ácido dodecil</li>
            <li>Butil glicol</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Amida de coco</li>
            <li>Lauril éter</li>
            <li>Sulfato de sodio</li>
            <li>Formol 37.7%</li>
            <li>Glicerina</li>
            <li>Hidróxido de potasio</li>
          </ul>
        </div>
      </div>

    </div>
    <button mat-button (click)="onCloseClick()">Close</button>
  </div>
</div>
