<div class="container-modal">
  <div class="modal-content">
    <div class="container-materia">
      <div class="header-modal">
        <button class="button-close" (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h1 style="text-align: center;">{{ 'modales.titleMateriaPrima' | translate }}</h1>
      <p style="text-align: initial;">{{ 'modales.textMateriaPrima' | translate }}</p>
      <div class="content-ul">
        <div>
          <ul>
            <li>{{ 'modales.listItems.soda' | translate }}</li>
            <li>{{ 'modales.listItems.nonil' | translate }}</li>
            <li>{{ 'modales.listItems.hidroxidoSodio' | translate }}</li>
            <li>{{ 'modales.listItems.aceite' | translate }}</li>
            <li>{{ 'modales.listItems.acido' | translate }}</li>
            <li>{{ 'modales.listItems.butil' | translate }}</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>{{ 'modales.listItems.amida' | translate }}</li>
            <li>{{ 'modales.listItems.lauril' | translate }}</li>
            <li>{{ 'modales.listItems.sulfato' | translate }}</li>
            <li>{{ 'modales.listItems.formol' | translate }}</li>
            <li>{{ 'modales.listItems.glicerina' | translate }}</li>
            <li>{{ 'modales.listItems.potasio' | translate }}</li>
          </ul>
        </div>
      </div>

    </div>
    <!-- <div class="button-close">
      <button mat-button (click)="onCloseClick()">Close
        <mat-icon>close</mat-icon>
      </button>
    </div> -->
  </div>
</div>
