<main>
  <div class="container-products-title">
    <div class="title-products">
      <h2>{{ 'productos.titleProductos' | translate }}</h2>
    </div>
  </div>
  <div class="container-products">
    <div class="parent-double">
      <div>
        <img src="assets/images/barrels_2.png" alt="">
      </div>
      <div class="text-clean">
        <h2>{{ 'productos.titleMateriaPrima' | translate }}</h2>
        <p>{{ 'productos.textMateriaPrima' | translate }}</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalMateria()">{{ 'productos.moreInfo' | translate }}</a>
      </div>
    </div>
  </div>

  <div class="container-products-2">
    <div class="parent-double-2">
      <div class="text-clean-2">
        <h2>{{ 'productos.titleTratamientoAguas' | translate }}</h2>
        <p>{{ 'productos.textTratamientoAguas' | translate }}</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalAgua()">{{ 'productos.moreInfo' | translate }}</a>
      </div>
      <div>
        <img src="assets/images/water.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="container-products-3">
    <div class="parent-double">
      <div>
        <img src="assets/images/clean.jpeg" alt="">
      </div>
      <div class="text-clean">
        <h2>{{ 'productos.titleProductosLimpieza' | translate }}</h2>
        <p>{{ 'productos.textProductosLimpieza' | translate}}</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalLimpieza()">{{ 'productos.moreInfo' | translate }}</a>
      </div>
    </div>
  </div>
  <h1 class="catalogos-title">{{ 'productos.catalogos' | translate }}</h1>
  <div class="container-pdf">
    <div class="pdf-parent">
      <div>
        <h3>{{ 'productos.catalogoProductos' | translate }}</h3>
        <img style="width: 45%" src="assets/images/catalogo_productos.jpg" alt="">
        <!-- <a class="download" href="assets/docs/CATALOGO_PRODUCTOS_2020.pdf" target="_blank">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon></a> -->
        <a class="download" (click)="openModalCatalogoProductos()">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon></a>
      </div>
      <div>
        <h3>{{ 'productos.catalogoLimpieza' | translate }}</h3>
        <img style="width: 45%" src="assets/images/catalogo_limpieza.jpg" alt="">
        <!-- <a class="download" href="assets/docs/CATALOGO_LIMPIEZA_2020.pdf" target="_blank">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon></a> -->
        <a class="download" (click)="openModalCatalogoLimpieza()">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon></a>
      </div>
      <div>
        <h3>{{ 'productos.catalogoImportacion' | translate }}</h3>
        <img style="width: 45%" src="assets/images/catalogo_importacion.jpg" alt="">
        <!-- <a class="download" href="assets/docs/CATALOGO_IMPORTACION_2020.pdf" target="_blank">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon> -->
        <a class="download" (click)="openModalCatalogoImportacion()">{{ 'productos.descargarPDF' | translate }}<mat-icon>file_open</mat-icon>
        </a>
      </div>
    </div>
  </div>
</main>
