<main>
  <div class="container-products-title">
    <div class="title-products">
      <h2>Contamos con una amplia cantidad de productos para las siguientes áreas:</h2>
    </div>
  </div>
  <div class="container-products">
    <div class="parent-double">
      <div>
        <img src="assets/images/clean.jpeg" alt="">
      </div>
      <div class="text-clean">
        <h2>PRODUCTOS QUIMICOS DE LIMPIEZA</h2>
        <p>Nos especializamos en ser fabricantes y poder tener como resultado más de 40 productos terminados de alta
          calidad para uso comercial o industrial a un margen de costos y tiempos de entregas que garantizan su entera
          satisfacción en el área a aplicar.</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalLimpieza()">MÁS INFORMACIÓN</a>
      </div>
    </div>
  </div>

  <div class="container-products-2">
    <div class="parent-double-2">
      <div class="text-clean-2">
        <h2>TRATAMIENTO DE AGUAS</h2>
        <p>Contamos con un ONE-STOP-SHOP gran portafolio y disponibilidad oportuna en productos químicos para el proceso
          y tratado de aguas residuales, ya que se usa en la mayor parte de las plantas industriales para aumentar la
          calidad del efluente y garantizar que exista un medio con unas condiciones óptimas para la actividad
          bacteriana.</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalAgua()">MÁS INFORMACIÓN</a>
      </div>
      <div>
        <img src="assets/images/water.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="container-products-3">
    <div class="parent-double">
      <div>
        <img src="assets/images/chemical.jpg" alt="">
      </div>
      <div class="text-clean">
        <h2>MATERIA PRIMA PARA LA INDUSTRIA</h2>
        <p>Agrupamos una extensa variedad de productos químicos genéricos, químicos inorgánicos y químicos de
          especialidad, de uso en prácticamente todos los procesos industriales. Agregando Un aspecto de especial
          relevancia con el que nos comprometemos, la transportación segura.</p>
        <a style="cursor: pointer;" class="more-info" (click)="openModalMateria()">MÁS INFORMACIÓN</a>
      </div>
    </div>
  </div>
  <h1 class="catalogos-title">CATÁLOGOS</h1>
  <div class="container-pdf">
    <div class="pdf-parent">
      <div>
        <h3>CATÁLOGO DE PRODUCTOS</h3>
        <img style="width: 45%" src="assets/images/catalogo_productos.jpg" alt="">
        <a class="download" href="">Descargar PDF<mat-icon>download</mat-icon></a>
      </div>
      <div>
        <h3>PRODUCTOS DE LIIMPIEZA</h3>
        <img style="width: 45%" src="assets/images/catalogo_limpieza.jpg" alt="">
        <a class="download" href="">Descargar PDF<mat-icon>download</mat-icon></a>
      </div>
      <div>
        <h3>PRODUCTOS DE IMPORTACIÓN</h3>
        <img style="width: 45%" src="assets/images/catalogo_importacion.jpg" alt="">
        <a class="download" href="">Descargar PDF<mat-icon>download</mat-icon>
        </a>
      </div>
    </div>
  </div>
</main>
