<header style="max-width: 100vw;">
  <div class="header-container">
    <div class="child menu">
      <nav>
        <ul class="nav-list">
          <li>
            <a href=""><span>INICIO</span></a>
          </li>
          <li>
            <a href=""><span>NOSOTROS</span></a>
          </li>
          <li>
            <a href=""><span>PRODUCTOS</span></a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="child logo">
      <img src="assets/logos/logo.png" alt="">
    </div>

    <div>
      <a href="" class="contacto">
        <p>CONTACTANOS</p>
        <mat-icon>insert_comment</mat-icon>
      </a>
    </div>
  </div>

</header>
