<main>
  <div class="container">
    <div class="img-container-us">
      <img src="assets/images/trabajador_1.jpeg" alt="">
    </div>
    <div class="about-container">
      <h1>NOSOTROS</h1>
      <p>Somos una empresa 100% mexicana, fundada en el año 2015 en la ciudad de Tampico Tamaulipas con el objetivo de
        brindar a nuestros clientes la seguridad y calidad en nuestra intervención para sus necesidades químicas de
        cualquier tipo. <br><br>
        Actualmente en la colaboración de nuestros proveedores y gracias a la aceptación por parte de nuestros clientes
        INTERQUIM-RC ofrece 3 Áreas, las cuales nos permiten ofrecer servicios integrales y competentes para el mercado.
      </p>
    </div>
  </div>
  <div class="chief">
    <div class="mision-vision">
      <div class="mis-vis-container">
        <mat-icon>flag</mat-icon>
        <h1>MISIÓN</h1>
        <p>Ser una Empresa Mexicana dedicada a la comercialización de materias primas para la industria y fabricación de
          productos químicos de limpieza, sumando este objetivo con miras a optimizar calidad y responsabilizarse para
          el éxito de nuestros clientes. Satisfaciendo las necesidades químicas en diferentes áreas del mercado
          profesional. Adelantándonos a las expectativas de nuestros consumidores, a través de un profundo conocimiento
          de sus necesidades en colaboración con nuestros proveedores.</p>
      </div>
      <div class="mis-vis-container">
        <mat-icon>terrain</mat-icon>
        <h1>VISIÓN</h1>
        <p>Fomentar una alta conciencia de costos y gastos para incrementar la productividad, eficiencia y alta
          competitividad en el mercado. Seguir con el Diseño y búsqueda de nuevas tecnologías, procesos de trabajo y
          proyectos de innovación a través de una línea de ejecución impecable.</p>
      </div>
      <div class="mis-vis-container">
        <mat-icon>lightbulb</mat-icon>
        <h1>FILOSOFÍA</h1>
        <p>Nuestra filosofía marca la guía para el logro de nuestros objetivos, como servidores a la industria y
          comercio en general local y regional.</p>
      </div>
    </div>
  </div>
</main>
