<main>
  <div class="container">
    <div class="img-container-us">
      <img src="assets/images/trabajador_1.jpeg" alt="">
    </div>
    <div class="about-container">
      <h1>NOSOTROS</h1>
      <!-- <p>Somos una empresa 100% mexicana, fundada en el año 2015 en la ciudad de Tampico Tamaulipas con el objetivo de
        brindar a nuestros clientes la seguridad y calidad en nuestra intervención para sus necesidades químicas de
        cualquier tipo. <br><br>
        Actualmente en la colaboración de nuestros proveedores y gracias a la aceptación por parte de nuestros clientes
        INTERQUIM-RC ofrece 3 Áreas, las cuales nos permiten ofrecer servicios integrales y competentes para el mercado.
      </p> -->
      <p>RODCER QUIMICA es una empresa integrada por un equipo de expertos tecnicos y operadores formados en compañias
        con años de
        experiencia en el manejo, distribución y abastecimiento de diversos productos Quimicos.
      </p>
    </div>
  </div>
  <div class="chief">
    <div class="mision-vision">
      <div class="mis-vis-container">
        <mat-icon>flag</mat-icon>
        <h1>MISIÓN</h1>
        <p>Estamos comprometidos en ser la Empresa lider Mexicana dedicada a la comercialización, servicios de productos
          Quimicos y materias primas para la industria sumando este objetivo a optimizar calidad y responsabilizarse
          para
          el éxito de nuestros clientes. Satisfaciendo las necesidades químicas en diferentes áreas del mercado
          profesional. Adelantándonos a las expectativas de nuestros consumidores, a través de un profundo conocimiento
          de sus necesidades en colaboración con nuestros proveedores.</p>
      </div>
      <div class="mis-vis-container">
        <mat-icon>terrain</mat-icon>
        <h1>VISIÓN</h1>
        <p>Fomentar una alta conciencia de costos y gastos para incrementar la productividad, eficiencia y alta
          competitividad en el mercado. Seguir con el Diseño y búsqueda de nuevas tecnologías, procesos de trabajo y
          proyectos de innovación a través de una línea de ejecución impecable.</p>
      </div>
      <div class="mis-vis-container">
        <mat-icon>lightbulb</mat-icon>
        <h1>FILOSOFÍA</h1>
        <p>Nuestra filosofía marca la guía para el logro de nuestros objetivos, como servidores a la industria y
          comercio en general local, regional y Nacional.</p>
      </div>
      <div class="mis-vis-container">
        <mat-icon>people</mat-icon>
        <h1>VALORES</h1>
        <ul class="ul-valores">
          <li>Puntualidad</li>
          <li>Lealtad</li>
          <li>Competividad</li>
          <li>Honestidad</li>
          <li>Servicio al Cliente</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="token-container">
    <div class="tokens">
      <div>
        <img src="assets/images/technical-support.svg" alt="" style="width: 20%;">
        <p>Servicio técnico especializado</p>
      </div>
      <div>
        <img src="assets/images/customer-service.svg" alt="" style="width: 20%;">
        <p>Atención &aacute;gil y personalizada</p>
      </div>
      <div>
        <img src="assets/images/network-connection.svg" alt="" style="width: 20%;">
        <p>Alianzas con proveedores certificados</p>
      </div>
      <div>
        <img src="assets/images/mexico-map.svg" alt="" style="width: 20%;">
        <p>Cobertura a nivel nacional</p>
      </div>
    </div>
  </div>
</main>
