@import url('https://fonts.googleapis.com/css2?family=Asap&family=Exo+2:wght@300&family=Lora&family=Raleway&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Exo+2:wght@300&family=Lora&family=Raleway&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');

main {
  padding-top: 8em;
  // margin-bottom: 5em;
}

.container-presentation {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;

  .porque-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6em;

    .porque {
      display: flex;
      width: 70%;
      flex-direction: column;

      h2 {
        text-align: left;
        // color: #005230;
        font-size: 40px;
      }
    }
  }

  .grid-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .grid-presentation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 70%;
      gap: 1em;

      div {
        position: relative;

        h2 {
          color: #005230;
          margin-bottom: 0;
        }

        p {
          margin-top: 3em;
        }
      }

      hr {
        position: absolute;
        width: 15%;
        height: 2px;
        background-color: #005230;
      }

      ol {
        padding-left: 15px;

        li:nth-child(2) {
          p {
            margin-top: 10px !important;
          }
        }
      }

    }
  }
}

h1,
p,
li,
h2 {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

}

p {
  font-size: 20px;
  color: #656565;
}

.title-container {
  display: flex;
  justify-content: center;

  .title {
    font-weight: bold;
    text-align: center;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8em;
}

.img-container-us {
  display: flex;
  justify-content: flex-end;
  padding-right: 8em;
}

.img-container-us img {
  object-fit: cover;
  width: 28vw;
  height: 100%;
  border-radius: 35%;
}

.about-container {
  padding-right: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mision-vision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  width: 75%;
  justify-items: center;

  .mis-vis-container {
    background-color: #F6F6F6;
    width: 18vw;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5em;

    mat-icon {
      font-size: 50px;
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      color: #005230;
    }
  }

  h1 {
    text-align: center;
    color: #005230;
    font-size: 2.5em;
  }

  p {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }
}

.ul-valores {
  list-style-type: square;
  color: #656565;

  li {
    margin-bottom: 10px;
  }
}

.chief {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8em;
}

.token-container {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin-top: 2em;

  .tokens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    #top {
      margin-bottom: 50px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
      }
    }
  }
}
