<app-header></app-header>
<main>
  <div>
    <div class="img-container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="title">
        <h1>RODCER<br>QUÍMICA</h1>
        <h2>Especialistas en la comercialización e importación de materias primas utilizadas en la industria y la
          fabricación de productos químicos de limpieza.</h2>
      </div>
      <a href="#pr" class="chevron-down">
        <img src="assets/images/down.svg" alt="Flecha abajo">
      </a>
    </div>
  </div>
</main>
<app-nosotros></app-nosotros>
<app-productos></app-productos>
<app-footer></app-footer>
