<app-header></app-header>
<main>
  <div>
    <div class="img-container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="title">
        <h1>RODCER QUÍMICA<br>DE MEXICO S.A. DE C.V.</h1>
        <h2>Lider en la comercialización e importación<br>de productos Quimicos para la industria.</h2>
      </div>
      <a href="#pr" class="chevron-down">
        <img src="assets/images/down.svg" alt="Flecha abajo">
      </a>
    </div>
  </div>
</main>
<app-nosotros></app-nosotros>
<app-productos></app-productos>
<app-footer></app-footer>
