<div class="container-modal">
  <div class="modal-content">
    <div>
      <div class="header-modal">
        <button class="button-close" (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h1 style="text-align: center;">{{ 'modales.titleTratamientoAguas' | translate }}</h1>
      <p>{{ 'modales.textTratamientoAguas1' | translate }}</p>
      <!-- <div class="images">
        <img style="width: 30%;" src="assets/images/agua_0.jpg" alt="">
      </div> -->
      <!-- <div class="images">
        <img style="width: 30%;" src="assets/images/agua_1.png" alt="">
      </div> -->
      <!-- <p>Se consideran Aguas Residuales a los líquidos que han sido utilizados en las actividades diarias de una ciudad
        (domésticas, comerciales, industriales y de servicios).
      </p> -->
      <p>{{ 'modales.textTratamientoAguas2' | translate }}</p>
    </div>
    <!-- <div class="button-close">
      <button mat-button (click)="onCloseClick()">
        Cerrar<mat-icon>close</mat-icon>
      </button>
    </div> -->
  </div>
</div>
