/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  // height: 100%;
}

/* MOBILE STYLES */
@media screen and (max-width: 767px) {
  .header-container {
    display: flex !important;
    // width: 100% !important;
    max-width: 100vw;
    justify-content: space-between !important;

    .logo {
      justify-content: flex-end !important;

      img {
        width: 90px !important;
      }
    }

    .menu {
      display: none !important;
      visibility: hidden !important;
      width: 0% !important;
    }

    .nav-list {
      display: none !important;
    }

    .button-contact {
      display: none !important;
    }

    .menu-mobile {
      display: flex !important;
      width: 20% !important;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 7px;
        border: 1px solid black !important;
        background-color: white;

        mat-icon {
          font-size: 26px;
          height: unset;
          width: unset;
          color: black;
        }
      }
    }
  }

  .img-container {
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;

    .title {
      width: 80% !important;

      h1 {
        font-size: 3em !important;
      }

      h2 {
        font-size: 2em !important;
      }
    }

    .chevron-down {
      left: 40% !important;
    }
  }

  .img-container-us {
    padding: 0 !important;
    justify-content: center !important;

    img {
      width: 70% !important;
    }
  }

  .about-container {
    padding: 0 !important;

    h1 {
      text-align: center;
    }

    p {
      padding: 0 5% 0 5%;
    }
  }

  .container {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .mision-vision {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    gap: 50px;

    .mis-vis-container {
      width: 60% !important;
    }
  }

  .tokens {
    img {
      width: 35% !important;
    }
  }

  .title-products {
    width: 78% !important;
    padding: 0 15px 0 15px;

    h2 {
      font-size: 1.5em !important;
    }
  }

  .container-products {
    // margin-bottom: 50px;
  }

  .parent-double {
    display: flex !important;
    flex-direction: column !important;

    .text-clean {
      padding-bottom: 30px !important;

      h2 {
        text-align: left !important;
      }

      a {
        margin-left: 0 !important;
      }
    }

    img {
      width: 100% !important;
    }
  }

  .parent-double-2 {
    display: flex !important;
    flex-direction: column-reverse !important;
    background-color: #F8F8F8 !important;

    .text-clean-2 {
      padding-bottom: 30px !important;

      h2 {
        text-align: left !important;
      }

      a {
        margin-left: 0 !important;
      }
    }

    img {
      width: 100% !important;
    }
  }

  .catalogos-title {
    font-size: 1.5em !important;
  }

  .catalogos-title::before {
    width: 85px !important;
  }

  .catalogos-title::after {
    width: 85px !important;
  }

  .pdf-parent {
    display: flex !important;
    flex-direction: column !important;
    width: 75% !important;

    div {
      border-right: none !important;
    }
  }


  .contact {
    flex-direction: column !important;

    .iframe {
      width: 100% !important;

      iframe {
        width: 100% !important;
      }
    }

    .location {
      width: 100% !important;
    }
  }

  .nav-footer {
    nav {
      display: none !important;
    }
  }

}

/* TABLET STYLES */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    grid-template-columns: repeat(2, 1fr) !important;

    .menu {
      display: none !important;
    }

    .button-contact {
      display: none;
    }

    .logo {
      justify-content: flex-start !important;

      img {
        width: 95px !important;
      }
    }

    .menu-mobile {
      display: flex !important;
      width: 20% !important;
      justify-content: flex-end !important;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 7px;
        border: 1px solid black !important;
        background-color: white;

        mat-icon {
          font-size: 26px;
          height: unset;
          width: unset;
          color: black;
        }
      }
    }

    .menu-mobile {
      display: flex !important;
    }
  }

  .title {
    h1 {
      font-size: 4em !important
    }
  }

  .container {
    display: flex !important;
    flex-direction: column-reverse !important;

    .img-container-us {
      justify-content: center !important;
      padding: 0 !important;

      img {
        width: 55% !important;
      }
    }

    .about-container {
      padding: 0 !important;

      h1 {
        text-align: center !important;
      }

      p {
        padding: 0 10% 0 10% !important;
      }
    }
  }

  .chief {

    .mision-vision {
      width: 90% !important;

      .mis-vis-container {
        width: 70% !important;
      }
    }
  }

  .container-products-title {

    .title-products {
      width: 80% !important;
      padding: 0 4% 0 4% !important;

      h2 {
        font-size: 2.5em !important;
      }
    }
  }

  .parent-double {
    display: flex !important;
    flex-direction: column !important;

    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .more-info {
    margin-bottom: 3em !important;
  }

  .more-info::after {
    right: -28px !important;
  }

  .parent-double-2 {
    display: flex !important;
    flex-direction: column-reverse !important;

    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .catalogos-title::before {
    width: 200px !important;
  }

  .catalogos-title::after {
    width: 200px !important;
  }

  .pdf-parent {
    width: 100% !important;
    min-height: 20rem !important;

    h3 {
      font-size: 17px !important;
    }

    a {
      font-size: 16px !important;

      mat-icon {
        height: 20px !important;
        width: 20px !important;
      }
    }
  }

  .footer-content {
    .nav-footer {
      nav {
        display: none !important;
      }
    }

    .contact {
      align-items: flex-start !important;
      margin: 0 !important;

      .email {
        height: 60px !important;
      }
    }
  }

}


@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .nav-list {
    padding: 0 !important;
    gap: 40px !important;
  }
}
