/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  // height: 100%;
}

.no-scroll {
  overflow: hidden;
}

// /* Style the main scrollbar container */
// ::-webkit-scrollbar {
//   width: 8px !important;
// }

// /* Track (the area on which the thumb moves) */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1 !important;
// }

// /* Handle (the thumb) */
// ::-webkit-scrollbar-thumb {
//   background: #888 !important;
//   border-radius: 10px !important;

// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555 !important;
// }

/* MOBILE STYLES */
@media screen and (max-width: 767px) {
  .header-container {
    display: flex !important;
    // width: 100% !important;
    max-width: 100vw;
    justify-content: space-between !important;

    .logo {
      justify-content: flex-end !important;

      img {
        width: 90px !important;
      }
    }

    .menu {
      display: none !important;
      visibility: hidden !important;
      width: 0% !important;
    }

    .nav-list {
      display: none !important;
    }

    .button-contact {
      display: none !important;
    }

    .menu-mobile {
      display: flex !important;
      width: 33% !important;

      .burguer-button {
        margin-left: 16px !important;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border-radius: 7px;
        border: 1px solid black !important;
        background-color: white;

        mat-icon {
          font-size: 26px;
          height: unset;
          width: unset;
          color: black;
        }
      }
    }
  }

  .img-container {
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;

    .title {
      width: 80% !important;

      h1 {
        font-size: 3em !important;
      }

      h2 {
        font-size: 2em !important;
      }
    }

    .chevron-down {
      left: 40% !important;
    }
  }

  .container-presentation {

    .porque-container {

      .porque {
        width: 85% !important;

        p {
          font-size: 23px !important;
        }
      }
    }

    .grid-presentation {
      grid-template-columns: none !important;
      width: 85% !important;
    }
  }

  .img-container-us {
    padding: 0 !important;
    justify-content: center !important;

    img {
      width: 80% !important;
    }
  }

  .about-container {
    padding: 0 !important;

    h1 {
      text-align: left;
      padding-left: 7.5%;
    }

    p {
      padding: 0 7.5% 0 7.5%;
    }
  }

  .container {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .mision-vision {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    gap: 50px;

    .mis-vis-container {
      width: 60% !important;
    }
  }

  .tokens {
    img {
      width: 40% !important;
    }

    #top {
      .mx-text {
        width: 90%;
      }
    }
  }

  .title-products {
    width: 78% !important;
    padding: 0 15px 0 15px;

    h2 {
      font-size: 1.5em !important;
    }
  }

  .container-products {
    // margin-bottom: 50px;
  }

  .parent-double {
    display: flex !important;
    flex-direction: column !important;

    .text-clean {
      padding-bottom: 30px !important;

      h2 {
        text-align: left !important;
      }

      a {
        margin-left: 0 !important;
      }
    }

    img {
      width: 100% !important;
    }
  }

  .parent-double-2 {
    display: flex !important;
    flex-direction: column-reverse !important;
    background-color: #F8F8F8 !important;

    .text-clean-2 {
      padding-bottom: 30px !important;
      background-color: #F8F8F8 !important;

      h2 {
        text-align: left !important;
      }

      a {
        margin-left: 0 !important;
      }
    }

    img {
      width: 100% !important;
    }
  }

  .catalogos-title {
    font-size: 1.5em !important;
  }

  .catalogos-title::before {
    width: 85px !important;
  }

  .catalogos-title::after {
    width: 85px !important;
  }

  .pdf-parent {
    display: flex !important;
    flex-direction: column !important;
    width: 75% !important;

    div {
      border-right: none !important;
    }
  }


  .contact {
    flex-direction: column !important;

    .iframe {
      width: 100% !important;

      iframe {
        width: 100% !important;
      }
    }

    .location {
      width: 100% !important;
    }
  }

  .nav-footer {
    nav {
      display: none !important;
    }
  }

}

/* TABLET STYLES */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    grid-template-columns: repeat(2, 1fr) !important;

    .menu {
      display: none !important;
    }

    .button-contact {
      display: none !important;
    }

    .logo {
      justify-content: flex-start !important;

      img {
        width: 95px !important;
      }
    }

    .menu-mobile {
      display: flex !important;
      width: 33% !important;
      justify-content: flex-end !important;

      .burguer-button {
        margin-left: 26px !important;
      }


      .language-items {
        width: 18% !important;
        right: 228px !important;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 7px;
        border: 1px solid black !important;
        background-color: white;

        mat-icon {
          font-size: 26px;
          height: unset;
          width: unset;
          color: black;
        }
      }

      .menu-items {
        width: 18% !important;
      }
    }

    .menu-mobile {
      display: flex !important;
    }
  }

  .title {
    h1 {
      font-size: 4em !important
    }
  }

  .porque-container {
    .porque {
      width: 80% !important;
    }
  }

  .grid-container {
    .grid-presentation {
      width: 80% !important;
    }
  }

  .container {
    display: flex !important;
    flex-direction: column-reverse !important;

    .img-container-us {
      justify-content: center !important;
      padding: 0 !important;

      img {
        width: 55% !important;
      }
    }

    .about-container {
      padding: 0 !important;

      h1 {
        text-align: center !important;
      }

      p {
        padding: 0 10% 0 10% !important;
      }
    }
  }

  .chief {

    .mision-vision {
      width: 90% !important;

      .mis-vis-container {
        width: 70% !important;
      }
    }
  }

  .tokens {
    gap: 30px;

    img {
      width: 30% !important;
      height: auto;
    }
  }

  .container-products-title {

    .title-products {
      width: 80% !important;
      padding: 0 4% 0 4% !important;

      h2 {
        font-size: 2.5em !important;
      }
    }
  }

  .parent-double {
    display: flex !important;
    flex-direction: column !important;

    .text-clean {
      p {
        font-size: 20px !important;
      }
    }

    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .more-info {
    margin-bottom: 3em !important;
  }

  .more-info::after {
    right: -28px !important;
  }

  .parent-double-2 {
    display: flex !important;
    flex-direction: column-reverse !important;

    .text-clean-2 {
      background-color: #F8F8F8 !important;

      p {
        font-size: 20px !important;
      }
    }

    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .catalogos-title::before {
    width: 200px !important;
  }

  .catalogos-title::after {
    width: 200px !important;
  }

  .pdf-parent {
    width: 100% !important;
    min-height: 20rem !important;

    h3 {
      font-size: 16px !important;
    }

    a {
      font-size: 16px !important;

      mat-icon {
        height: 20px !important;
        width: 20px !important;
      }
    }
  }

  .footer-content {
    .nav-footer {
      nav {
        display: none !important;
      }
    }

    .contact {
      align-items: flex-start !important;
      margin: 0 !important;

      .email {
        height: 60px !important;
      }
    }
  }

}


@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .nav-list {
    padding: 0 !important;
    gap: 40px !important;
  }
}

@media screen and (max-width: 375px) and (max-height: 900px) {
  .container-materia {
    h1 {
      font-size: 26px !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }

    p {
      font-size: 15px !important;
    }

    ul {
      font-size: 14px !important;
    }
  }

  .modal-content {
    h1 {
      font-size: 24px !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }

    p {
      font-size: 14px !important;
    }

    .container-content {
      h2 {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
        font-size: 20px;
      }
      ul {
        font-size: 14px !important;
      }
    }
  }
}
